@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --softorange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);
  --offwhite:hsl(36, 100%, 99%);
  --grayishblue:hsl(233, 8%, 79%);
  --darkgrayishblue:hsl(236, 13%, 42%);
  --verydarkblue:hsl(240, 100%, 5%);
}

img{
  max-width: 100%;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Inter', sans-serif;
  background: var(--offwhite);
}

main{
  max-width: calc(100% - 40px);
  margin: 0 20px;
  padding-bottom: 50px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

nav .logo{
  width: 50px;
}

nav .navdesktop{
  display: none;
}

.hamb.active{
  display: none;
}

.bignews img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.bignews h1{
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1;
  margin: 1rem 0;
  color: var(--verydarkblue);
}

.bignews p{
  font-size: 15px;
  line-height: 1.4;
  color: var(--darkgrayishblue);
}

.bignews button{
  border: none;
  text-transform: uppercase;
  padding: .8rem 1.8rem;
  letter-spacing: .2rem;
  margin: 1rem 0;
  background: var(--softred);
  color: var(--offwhite);
  font-weight: 700;
  cursor: pointer;
}

.bignews button:hover{
  background: var(--verydarkblue);
}

.news{
  background-color: #000;
  color: #fff;
  padding: 1.7rem;
  margin-top: 40px;
}

.news header h2{
  font-size: 1.8rem;
  color: var(--softorange);
}

.news article a h2:hover{
  color: var(--softorange);
}

.news article{
  padding: 1.4rem 0;
}

.news article:nth-of-type(2n){
  border-bottom: 1px solid var(--darkgrayishblue);
  border-top: 1px solid var(--darkgrayishblue);
}

.news article h2{
  font-size: 1.3rem;
  margin-bottom: .8rem;
  color: var(--offwhite);
}

.news article p{
  font-size: 15px;
  color: var(--grayishblue);
}

.topnews{
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  gap: 40px;
  margin-top: 40px;
}

.topnews article{
  display: flex;
}

.topnews article img{
  display: block;
  height: 115px;
  margin-right: 1rem;
}

article .content .number{
  font-size: 2rem;
  line-height: 1;
  color: var(--grayishblue);
  font-weight: 700;
}

article .content h2{
  font-size: rem;
  margin: .8rem 0;
  color: var(--verydarkblue);
  font-weight: 800;
}

article .content h2:hover{
  color: var(--softred);
}

article .content p{
  font-size: 15px;
  color: var(--darkgrayishblue);
  max-width: 220px;
}

nav {
  grid-area: nav;
}

.bignews{
  grid-area: bignews;
}

.news{
  grid-area: news;
}

.topnews{
  grid-area: topnews;
}

.menumodal{
  position: absolute;
  background: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: none;
}

.menumodal.active{
  display: block;
}


.menumodal.active .nav{
  animation: showModal .5s forwards;
}

@keyframes showModal{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.menumodal .nav{
  background-color: white;
  float: right;
  height: 100vh;
}

.nav img{
  float: right;
  margin-right: 30px;
  margin-top: 30px
}

.nav .menu{
  display: grid;
  grid-template-columns: 190px;
  gap: 20px;
  margin-top: 120px;
  padding: 1rem;
}

.nav .menu li a{
  font-size: 1.2rem;
  padding: .2rem .5rem;
  color: var(--verydarkblue);
  font-weight: 700;
}

@media (min-width:720px){
  
  .bignews .content h1{grid-area:titleh1; max-width: 280px;font-size: 3rem;margin-right: 50px;}
  .bignews .content p{grid-area: paragraphp;max-width: 350px;margin-top: 20px;}
  .bignews .content button{grid-area:btn;width: 180px;}
  .bignews .content{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "titleh1 paragraphp"
    "titleh1 btn";
    margin-top: 20px;
  }

}

@media (min-width: 800px){

  .menumodal{
    display: none;
  }

  nav{
    padding-bottom: 0.5rem;
  }
  nav .hamb{
    display: none;
  }

  nav .navdesktop{
    display: flex;
    gap: 15px;
  }

  nav .navdesktop li a{
    display: block;
    padding: 1rem;
    color: var(--darkgrayishblue);
    line-height: .1;
  }

  nav .navdesktop li a:hover{
    color: var(--softorange);
  }

  main{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "bignews bignews"
    "news topnews";
    gap: 30px;
    max-width: 760px;
    margin: 0 auto;
  }

  .news, .topnews{
    margin-top: 20px;
  }
}

@media (min-width:1080px){
  main{
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "bignews bignews news"
    "topnews topnews topnews";
    gap: 30px;
    max-width: 1060px;
    margin: 0 auto;
  }

  .news{
    margin-top: 0;
  }

  .topnews{
    flex-flow: row;
    gap: 40px;
  }

}